.icon{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 1.5em;
    height: 1.5em;
    /*border: 0.2em solid;*/
    border-radius: 0.2em;
    /*color: #2ba5bb;*/
    overflow: hidden;
    margin-top: 0.1em;
}
.icon:before,.icon:after{
    content: '';
    pointer-events: none;
    position: absolute;
}
.pic:before{
    width: 0.3em;
    height:0.3em;
    top: 0.1em;
    right: 0.1em;
    box-shadow: inset 0 0 0 0.2em;
    border-radius: 50%;
}
.pic:after{
    width: 0.8em;
    height: 0.8em;
    left: 0;
    bottom: -0.3em;
    box-shadow: inset 0 0 0 1em,0.4em -0.3em 0 0;
    transform: rotate(45deg);
}
.mark{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    color: #2ba5bb;
    height: 10px;
    width: 2px;
    margin-bottom: 0.5em;
    box-shadow: inset 0 0 0 32px,0 15px,-11px 7px,11px 7px;
    -webkit-box-shadow: inset 0 0 0 32px,0 15px,-11px 7px,11px 7px;
}
.mark:before,
.mark:after{
    content: '';
    pointer-events: none;
    position: absolute;
    width: 11px;
    height: 4px;
}
.mark:before{
    right: 2px;
    top: 3px;
    transform: skew(0,-35deg) scaleY(0.6);
    box-shadow: inset 0 0 0 32px,0 13px,11px 26px,12px 39px;
    -webkit-box-shadow: inset 0 0 0 32px,0 13px,11px 26px,12px 39px;
}
.mark:after{
    left: 2px;
    top: 3px;
    transform: skew(0,35deg) scaleY(0.6);
    box-shadow: inset 0 0 0 32px,0 13px,-11px 26px,-12px 39px;
    -webkit-box-shadow: inset 0 0 0 32px,0 13px,-11px 26px,-12px 39px;
}
.icon-share{
    height:0.35em;
    width: 0.35em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1em,1.1em -0.5em 0 0,1.1em 0.5em 0 0;
    -webkit-box-shadow: inset 0 0 0 1em,1.1em -0.5em 0 0,1.1em 0.5em 0 0;
    margin-top: 0.55em;
    margin-right: 1.55em;
    margin-left: 0.5em;
    margin-bottom: 0.55em;
}
.icon-share:before,
.icon-share:after{
    content: '';
    pointer-events: none;
    position: absolute;
    width: 1.0em;
    height: 0.1em;
    -webkit-box-shadow: inset 0 0 0 1em;
    box-shadow: inset 0 0 0 1em;
    left: 0.4em;
}
.icon-share:before{
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translate(1.1em,0.1em) rotate(-25deg);
    transform: translate(0.35em,0.1em) rotate(-25deg);
    -ms-transform: translate(1.1em,0.1em) rotate(-25deg);
}
.icon-share:after{
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translate(1.2em,0.2em) rotate(25deg);
    transform: translate(0.37em,0.2em) rotate(25deg);
    -ms-transform: translate(1.2em,0.2em) rotate(25deg);
}
.list{
    width: 1em;
    height:0.15em;
    bottom: 0.6em;
    box-shadow: inset 0 0 0 0.4em,0 0.3em,0 0.6em;
}
.add:before,
.add:after{
    width: 1em;
    height: 0.2em;
    top: 0.7em;
    left: 0.3em;
    box-shadow: inset 0 0 0 1em;
}
.add:before{
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}


.cancel:before,
.cancel:after{
    width: 1em;
    height: 0.2em;
    top: 0.7em;
    left: 0.3em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.cancel:before{
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.icon-triple{
    width: 0;
    height: 0;
    border-bottom: 0.5em solid transparent;
    border-right: 1em solid;
    border-top: 0.5em solid transparent;
    display: inline-block;
}
.item > .icon-triple{
    position: absolute;
    right: 1em;
    top: 1.1em;
    border-right-color: darkgray;
    transition: all 0.5s;
}